body {
    background-color: #fff;
    background-image: linear-gradient(to left, #333, #FFF);
}

h1 {
    background-color: #000;
    color: #fff;
    text-align: center;
}

h2 {
    color: #000;
}

p {
    text-align: justify;
    color: #000;
}
.autor {
    background-color: #808080;
    text-align: right;
}

.separador {
    text-align: center;
}