body {
    background-color: #EBB571;
}

h1 {
    background-color: #E64F29;
    text-align: center;
}

p {
    text-align: justify;
}
.autor {
    background-color: #E69129;
    text-align: right;
}

.separador {
    text-align: center;
}